@font-face {
  font-family: GianeGothic;
  src: url("../fonts/GianeGothic/GianeGothicsans Light.otf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: GianeGothic;
  src: url("../fonts/GianeGothic/GianeGothicsans LightItalic.otf");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: GianeGothic;
  src: url("../fonts/GianeGothic/GianeGothicsans Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: GianeGothic;
  src: url("../fonts/GianeGothic/GianeGothicsans Italic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: GianeGothic;
  src: url("../fonts/GianeGothic/GianeGothicsans Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: GianeGothic;
  src: url("../fonts/GianeGothic/GianeGothicsans BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}

/*! sanitize.css v4.1.0 | CC0 License | github.com/jonathantneal/sanitize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

template,
[hidden] {
  display: none;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  font-family: GianeGothic, sans-serif;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  height: 0;
  overflow: visible;
}

nav ol,
nav ul {
  list-style: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

progress {
  vertical-align: baseline;
}

small {
  font-size: 83.3333%;
}

sub,
sup {
  font-size: 83.3333%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  border-style: none;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  outline-width: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
  font-size: 1em;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type='checkbox'],
[type='radio'] {
  padding: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[aria-busy='true'] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[hidden][aria-hidden='false'] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden='false']:focus {
  clip: auto;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

body {
  overflow: hidden;
}

.main-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  background-color: #393A42;
}

.main-loader svg {
  height: 3.75rem;
  width: 3.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #4c9daf;
  -webkit-animation: loader 1.3s;
          animation: loader 1.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.landing-section {
  height: 100vh;
  width: 100vw;
  background-image: url("../media/jpg/landing-mountain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-section .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 5rem;
}

.landing-section .header h1 {
  font-weight: normal;
  color: #fff;
}

.landing-section .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13rem;
}

.landing-section .header .logo .logo-text-area {
  display: inline-block;
  width: 9rem;
  max-width: 100%;
  text-align: right;
}

.landing-section .header .logo .logo-text-area span {
  text-transform: uppercase;
  color: #fff;
}

.landing-section .header .logo svg {
  fill: #fff;
  height: 3rem;
  width: 3rem;
}

.landing-section .dynamic-points {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
}

.landing-section .dynamic-points .pt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-section .dynamic-points .pt .mount-name {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 85, 88, 0.818)), color-stop(65%, rgba(83, 85, 88, 0.644)), to(rgba(83, 85, 88, 0)));
  background: linear-gradient(180deg, rgba(83, 85, 88, 0.818) 0%, rgba(83, 85, 88, 0.644) 65%, rgba(83, 85, 88, 0) 100%);
  border-radius: 1rem;
  padding: 0.23rem 0.3rem;
  font-size: .7rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.landing-section .dynamic-points .pt .outer-dot {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-animation: heartbeat 3s;
          animation: heartbeat 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.landing-section .dynamic-points .pt .outer-dot .dot {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: #fff;
}

.landing-section .dynamic-points .pt .mount-height {
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  padding: 0 0.5rem;
}

.landing-section footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  max-width: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-section footer .back-blur {
  position: absolute;
  top: 0;
  left: -.1rem;
  right: 0;
  bottom: -.1rem;
  background-color: #393B43;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  width: 110vw;
  opacity: 0.95;
  z-index: -1;
}

.landing-section footer .flex-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23%;
  padding: 3rem 0;
}

.landing-section footer .flex-l ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-section footer .flex-l ul .list-selected {
  background-color: #47494B;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.landing-section footer .flex-l ul li {
  white-space: nowrap;
  padding: .25rem .5rem;
  margin: .4rem 0;
  display: inline-block;
  list-style: none;
  text-transform: capitalize;
  font-size: .9rem;
  color: #fff;
  font-weight: normal;
  border-radius: 1.5rem;
  text-align: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.landing-section footer .flex-l ul li:hover {
  background-color: #47494B;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.landing-section footer .flex-l .percentage-disp {
  text-align: center;
  font-size: 5rem;
  color: #fff;
  font-size: bold;
}

.landing-section footer .flex-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 77%;
}

.landing-section footer .flex-r .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: .17rem solid #46494e;
  padding: 3.9rem 2rem;
  min-width: 17rem;
}

.landing-section footer .flex-r .box button {
  background-color: #356975;
  border-radius: 0.6rem;
  padding: 0.3rem 0.3rem;
  font-size: .7rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.landing-section footer .flex-r .box svg {
  fill: #fff;
  height: 2.5rem;
  width: 2.5rem;
}

.landing-section footer .flex-r .box .nums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-section footer .flex-r .box .nums span {
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  padding: 0 .5rem;
}

.landing-section footer .flex-r .box * {
  margin: 1rem 0;
}

.landing-section footer .flex-r .box:nth-child(4) {
  border-right: .17rem solid #46494e;
}
/*# sourceMappingURL=global.css.map */