@font-face {
    font-family: GianeGothic;
    src: url('../fonts/GianeGothic/GianeGothicsans\ Light.otf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: GianeGothic;
    src: url('../fonts/GianeGothic/GianeGothicsans\ LightItalic.otf');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: GianeGothic;
    src: url('../fonts/GianeGothic/GianeGothicsans\ Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GianeGothic;
    src: url('../fonts/GianeGothic/GianeGothicsans\ Italic.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: GianeGothic;
    src: url('../fonts/GianeGothic/GianeGothicsans\ Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: GianeGothic;
    src: url('../fonts/GianeGothic/GianeGothicsans\ BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}